# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*.csv
data/processed/*.csv

# ML artifacts
artifacts/*.joblib
artifacts/*.pkl

# Node
frontend/node_modules/
frontend/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/